body,
.container,
.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

body {
  height: 100vh;
  width: 100vw;
  background: #70ffee;
}

.container {
  height: 700px;
  width: 700px;
  margin: 50px;
  border-radius: 53px;
  background: #70ffee;
  box-shadow: 22px 22px 1px #32736b, -22px -22px 1px #aeffff;
}

.dice {
  height: 400px;
  width: 400px;
  margin: 50px;
  border-radius: 53px;
  background: #70ffee;
  box-shadow: 22px 22px 1px #32736b, -22px -22px 1px #aeffff;
}

/* Dice number 1 */
.one {
  height: 200px;
  width: 200px;
  background: black;
  border-radius: 50%;
}

/* Dice number 2 */

.two {
  display: grid;
  grid-template-areas:
    "up-left up-right"
    "down-left down-right";
}

.two .up-left,
.two .down-right {
  display: none;
  height: 150px;
  width: 150px;
  background: black;
  border-radius: 50%;
}

.two .up-left {
  grid-area: up-left;
}

.two .up-right {
  grid-area: up-right;
}

.two .down-left {
  grid-area: down-left;
}

.two .down-right {
  grid-area: down-right;
}

/* Dice number 3 */

.three {
  display: grid;
  grid-template-areas:
    "up-left . ."
    ". center ."
    ". . down-right";
}

.three .up-left,
.three .center,
.three .down-right {
  display: none; /* inline; */
  height: 100px;
  width: 100px;
  background: black;
  border-radius: 50%;
}

.three .up-left {
  grid-area: up-left;
}

.three .center {
  grid-area: up-right;
}

.three .down-right {
  grid-area: down-right;
}

/* Dice number 4 */

.four {
  display: grid;
  grid-template-areas:
    "up-left . up-right"
    ". . ."
    "down-left . down-right";
}

.four .up-left,
.four .up-right,
.four .down-left,
.four .down-right {
  display: none;
  height: 100px;
  width: 100px;
  background: black;
  border-radius: 50%;
  margin: 50px;
}

.four .up-left {
  grid-area: up-left;
}

.four .up-right {
  grid-area: up-right;
}

.four .down-left {
  grid-area: down-left;
}

.four .down-right {
  grid-area: down-right;
}

/* Dice number 5 */
.five {
  display: grid;
  grid-template-areas:
    "up-left . up-right"
    ". center ."
    "down-left . down-right";
}

.five .up-left,
.five .up-right,
.five .center,
.five .down-left,
.five .down-right {
  display: none;
  height: 100px;
  width: 100px;
  background: black;
  border-radius: 50%;
  margin: 20px;
}

.five .up-left {
  grid-area: up-left;
}

.five .up-right {
  grid-area: up-right;
}

.five .center {
  grid-area: center;
}

.five .down-left {
  grid-area: down-left;
}

.five .down-right {
  grid-area: down-right;
}

/* Dice number 6 */

.six {
  display: grid;
  grid-template-areas:
    "up-left . up-right"
    "left-mid . right-mid"
    "down-left . down-right";
}

.six .up-left,
.six .up-right,
.six .left-mid,
.six .right-mid,
.six .down-left,
.six .down-right {
  display: none;
  height: 100px;
  width: 100px;
  background: black;
  border-radius: 50%;
  margin: 20px;
}

.six .up-left {
  grid-area: up-left;
}

.six .up-right {
  grid-area: up-right;
}

.six .left-mid {
  grid-area: left-mid;
}

.six .right-mid {
  grid-area: right-mid;
}

.six .down-left {
  grid-area: down-left;
}

.six .down-right {
  grid-area: down-right;
}

.random-button {
  height: 50px;
  width: 200px;
  font-size: 25px;
  border-radius: 53px;
  background: #70ffee;
  box-shadow: 5px 5px 10px #32736b, -5px -5px 10px #aeffff;
}

.number {
  font-size: 22em;
}
